<h2 class="portfolio-header">Contact</h2>

<p class="portfolio-copy">
	I am currently residing in the Minneapolis area of the great state of Minnesota.  I am available for freelance, contract or consulting work and am always looking to work for or collaborate with companies or individuals who share the same ideals &amp; philosophies.  Whether you are in Minnesota, Seattle, California, South Carolina, Australia, or anywhere else in the world, I am interested in working or talking together.  Working remotely is something I do frequently whether for contract, consulting, business development or start ups.
</p>
<p class="portfolio-copy">
	Shoot me an email if you would like to talk business, working together or anything else.  I am always interested in grabbing a cup of coffee and chatting because endless good ideas come up when people + coffee get together.
</p>
<a href='&#109;ai&#108;&#116;o&#58;%72&#37;79%61n&#115;&#97;tt&#64;&#103;m&#97;il&#46;com'>ryan&#115;att&#64;&#103;mail&#46;c&#111;m</a>