<h2 class="portfolio-header">
  Development
</h2>
<div class="wrapper development-skills">
  <div class="development-skills_row" data-skill="javascipt">
      {{!-- <div {{bind-attr class=":wrapper isActive:active"}} {{action 'isActive'}}> --}}
      <div class="flip-container">
      <div class="el non-metal flipper" data-skill="javascript">
        <div class="front">
          <span>1</span>
          <span>Js</span>
          <span>1.008</span>
        </div>
        <div class="back">
          <span>Javascript</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="html">
        <div class="front">
          <span>2</span>
          <span>Ht</span>
          <span>4.003</span>
        </div>
        <div class="back">
          <span>HTML</span>
        </div>
      </div>
    </div>
  </div>

  <div class="development-skills_row" data-skill="css">
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="css">
        <div class="front">
          <span>3</span>
          <span>Cs</span>
          <span>6.94</span>
        </div>
        <div class="back">
          <span>CSS</span>
        </div>
      </div>
    </div>
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="Backbone.js">
        <div class="front">
          <span>3</span>
          <span>Bb</span>
          <span>6.94</span>
        </div>
        <div class="back">
          <span>Backbone</span>
        </div>
      </div>
    </div>
    <div class="el space">
    </div>
    <div class="el space">
    </div>
    <div class="el space">
    </div>
    <div class="el space">
    </div>
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="ember.js">
        <div class="front">
          <span>3</span>
          <span>Em</span>
          <span>6.94</span>
        </div>
        <div class="back">
          <span>Ember</span>
        </div>
      </div>
    </div>
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="node.js">
        <div class="front">
          <span>3</span>
          <span>Nd</span>
          <span>12.01</span>
        </div>
        <div class="back">
          <span>Node.js</span>
        </div>
      </div>
    </div>
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="json">
        <div class="front">
          <span>7</span>
          <span>Jn</span>
          <span>14.01</span>
        </div>
        <div class="back">
          <span>JSON</span>
          {{!-- <span class="periodic-table__code">{"look" : "I\'m JSON"}</span> --}}
        </div>
      </div>
    </div>
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="ajax">
        <div class="front">
          <span>8</span>
          <span>Aj</span>
          <span>16.00</span>
        </div>
        <div class="back">
          <span>Ajax</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="webpack">
        <div class="front">
          <span>9</span>
          <span>Wp</span>
          <span>17.00</span>
        </div>
        <div class="back">
          <span>Webpack</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="grunt">
        <div class="front">
          <span>10</span>
          <span>Gr</span>
          <span>19.00</span>
        </div>
        <div class="back">
          <span>Grunt</span>
        </div>
      </div>
    </div>

  </div>

  <div class="development-skills_row">
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="elm">
        <div class="front">
          <span>11</span>
          <span>El</span>
          <span>22.99</span>
        </div>
        <div class="back">
          <span>Elm</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="sass">
        <div class="front">
          <span>11</span>
          <span>Sa</span>
          <span>22.99</span>
        </div>
        <div class="back">
          <span>Sass</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="less">
        <div class="front">
          <span>12</span>
          <span>Ls</span>
          <span>24.31</span>
        </div>
        <div class="back">
          <span>Less</span>
        </div>
      </div>
    </div>

    <div class="el space">
    </div>
    <div class="el space">
    </div>
    <div class="el space">
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="unit-testing">
        <div class="front">
          <span>13</span>
          <span>Ut</span>
          <span>26.98</span>
        </div>
        <div class="back">
          <span>Unit Testing</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="responsive">
        <div class="front">
          <span>14</span>
          <span>Rs</span>
          <span>28.09</span>
        </div>
        <div class="back">
          <span>Responsive</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="git">
        <div class="front">
          <span>15</span>
          <span>Gt</span>
          <span>30.97</span>
        </div>
        <div class="back">
          <span>Git</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="npm">
        <div class="front">
          <span>16</span>
          <span>Np</span>
          <span>32.06</span>
        </div>
        <div class="back">
          <span>Npm</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="gulp">
        <div class="front">
          <span>16</span>
          <span>Gu</span>
          <span>39.95</span>
        </div>
        <div class="back">
          <span>Gulp</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="react">
        <div class="front">
          <span>18</span>
          <span>Rt</span>
          <span>39.95</span>
        </div>
        <div class="back">
          <span>React</span>
        </div>
      </div>
    </div>

  </div>

  <div class="development-skills_row">

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="jquery">
        <div class="front">
          <span>19</span>
          <span>Jq</span>
          <span>39.10</span>
        </div>
        <div class="back">
          <span>jQuery</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="design">
        <div class="front">
          <span>20</span>
          <span>Ds</span>
          <span>40.08</span>
        </div>
        <div class="back">
          <span>Design</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="marionette">
        <div class="front">
          <span>21</span>
          <span>Mr</span>
          <span>44.96</span>
        </div>
        <div class="back">
          <span>Marionette</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="post-css">
        <div class="front">
          <span>22</span>
          <span>Pc</span>
          <span>47.88</span>
        </div>
        <div class="back">
          <span>PostCss</span>
        </div>
      </div>
    </div>
    
    <div class="el space">
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="flexbox">
        <div class="front">
          <span>24</span>
          <span>Fx</span>
          <span>52.00</span>
        </div>
        <div class="back">
          <span>FlexBox</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="sinon">
        <div class="front">
          <span>24</span>
          <span>Sn</span>
          <span>52.00</span>
        </div>
        <div class="back">
          <span>Sinon</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="oop">
        <div class="front">
          <span>25</span>
          <span>Op</span>
          <span>54.94</span>
        </div>
        <div class="back">
          <span>OOP</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="oop">
        <div class="front">
          <span>25</span>
          <span>Op</span>
          <span>54.94</span>
        </div>
        <div class="back">
          <span>OOP</span>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="oop">
        <div class="front">
          <span>25</span>
          <span>Op</span>
          <span>54.94</span>
        </div>
        <div class="back">
          <span>OOP</span>
        </div>
      </div>
    </div>
    
    <div class="flip-container">
      <div class="el non-metal flipper" data-skill="oop">
        <div class="front">
          <span>25</span>
          <span>Op</span>
          <span>54.94</span>
        </div>
        <div class="back">
          <span>OOP</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="development__text">
  <p>
    Front-End Development has evolved into an amalgamation of various skillsets, processes and beliefs.  The amount of knowledge needed to build websites and applications of any size can be overwhelming, making thoughtful and strategic planning essential to modern front end development.  Over many years and projects I have acquired solid fundamentals in the core front-end pricinciples (html, css, javascript, etc.) which have led to valuable architectural skills that make scaffolding websites and applications simple no matter how the big problem.
  </p>
  <p>
    Being an integral part of these projects have also given me significant insight on time and personnel management along with assesing which frameworks and technologies make the most sense. Maintaining a balance between developing, project management and planning/architecting is essential in building web applications as the process flows much smoother and quicker satisfying everyone involved.
  </p>
  <p>
    I treat each project as an opportunity to learn, refine and progress my skills, knowledge and abilities as a developer and manager.  Every project, no matter how big or small, can benefit greatly from efficient and smart development.  Staying conscious of writing tests and keeping future updates or changes in mind, save invaluable amounts of time in the short and long run.
  </p>
</div>