<h2 class="portfolio-header">
	Photography
</h2>
<p class="portfolio-copy">
	Photography is one of my favorite hobbies, as is golfing, and putting the two together has turned out to be a good relationship.  Most of my "recreational" photography is of golf courses or landscape.  But I usually conduct the photographic duties of websites I create &amp; develop as I understand the impact imagery has on engaging users and representing a company in its proper light. 
</p>

<p class="portfolio-copy">
	Stay tuned. I will be posting up more of my photographs shortly.
</p>
{{#each model as |project|}}
  <section class="photography-container" data-name="{{project.title}}">
      <h2>
          {{project.title}}
      </h2>
    {{#each project.images as |image|}}
      <img src="{{image.imgUrl}}" alt="{{project.description}}" />
    {{/each}}
  </section>
{{/each}}
